<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>com.shade.domum</string>
			<key>PostNotification</key>
			<string>com.shade.domum/ReloadPrefs</string>
			<key>key</key>
			<string>ShowOnLockScreen</string>
			<key>label</key>
			<string>SHOW_ON_LOCKSCREEN</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>OPACITY</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSliderCell</string>
			<key>default</key>
			<real>1</real>
			<key>defaults</key>
			<string>com.shade.domum</string>
			<key>PostNotification</key>
			<string>com.shade.domum/ReloadPrefs</string>
			<key>key</key>
			<string>Opacity</string>
			<key>min</key>
			<real>0</real>
			<key>max</key>
			<real>1</real>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>ACTIVATOR_GESTURES</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>label</key>
			<string>SHOW_DOMUM</string>
			<key>isController</key>
			<true/>
			<key>bundle</key>
			<string>LibActivator</string>
			<key>activatorListener</key>
			<string>com.shade.domum-show</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>label</key>
			<string>HIDE_DOMUM</string>
			<key>isController</key>
			<true/>
			<key>bundle</key>
			<string>LibActivator</string>
			<key>activatorListener</key>
			<string>com.shade.domum-hide</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>label</key>
			<string>TOGGLE_DOMUM</string>
			<key>isController</key>
			<true/>
			<key>bundle</key>
			<string>LibActivator</string>
			<key>activatorListener</key>
			<string>com.shade.domum-toggle</string>
		</dict>
	</array>
	<key>title</key>
	<string>Options</string>
</dict>
</plist>
