<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>items</key>
		<array>
			<dict>
				<key>cell</key>
				<string>PSGroupCell</string>
			</dict>
			<dict>
				<key>cell</key>
				<string>PSSwitchCell</string>
				<key>default</key>
				<true/>
				<key>defaults</key>
				<string>com.shade.domum</string>
				<key>PostNotification</key>
				<string>com.shade.domum/ReloadPrefs</string>
				<key>key</key>
				<string>Enabled</string>
				<key>label</key>
				<string>ENABLE</string>
			</dict>
			<dict>
				<key>cell</key>
				<string>PSGroupCell</string>
			</dict>
			<dict>
				<key>cell</key>
				<string>PSLinkCell</string>
				<key>label</key>
				<string>OPTIONS</string>
				<key>detail</key>
				<string>DOMOptionsController</string>
			</dict>
			<dict>
				<key>cell</key>
				<string>PSLinkCell</string>
				<key>label</key>
				<string>ABOUT</string>
				<key>detail</key>
				<string>DOMAboutController</string>
			</dict>
		</array>
		<key>title</key>
		<string></string>
	</dict>
</plist>
