Package: com.shade.domum
Name: Domum
Depends: mobilesubstrate, preferenceloader
Architecture: iphoneos-arm
Description: Virtual Home button everywhere
Maintainer: Shade Zepheri
Author: Shade Zepheri
Section: Tweaks
Version: 0.0.1-15+debug
Installed-Size: 256
