Package: com.shade.domum
Name: Domum
Depends: mobilesubstrate, preferenceloader
Architecture: iphoneos-arm
Description: Onscreen Home button everywhere
Maintainer: Shade Zepheri
Author: Shade Zepheri
Section: Tweaks
Version: 0.6.1-5+debug
Installed-Size: 272
