Package: com.shade.domum
Name: Domum
Depends: mobilesubstrate, preferenceloader, libactivator
Architecture: iphoneos-arm
Description: Onscreen Home button everywhere
Maintainer: Shade Zepheri
Author: Shade Zepheri
Section: Tweaks
Version: 0.7-24+debug
Installed-Size: 372
