Package: com.shade.domum
Name: Domum
Depends: mobilesubstrate, preferenceloader
Version: 0.9.9.5
Architecture: iphoneos-arm
Description: Onscreen Home button everywhere
Maintainer: Shade Zepheri
Author: Shade Zepheri
Section: Tweaks
