Package: com.shade.domum
Name: Domum
Depends: mobilesubstrate, preferenceloader, ws.hbang.common
Version: 0.10
Architecture: iphoneos-arm
Description: Onscreen Home button everywhere
Maintainer: Shade Zepheri
Author: Shade Zepheri
Section: Tweaks
